{{ $currentNode := . }}

<!-- Run through the tree-nav template for each section -->
{{ range .Site.Home.Sections.ByTitle }}
  {{ template "tree-nav" dict "sect" . "currentnode" $currentNode }}
{{ end }}

<!-- Template -->
{{ define "tree-nav" }}
  {{ $currentNode := .currentnode }}
  <ul class="gdoc-nav__list">
  {{ with .sect}}
    {{ if .IsSection }}
      {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
      {{ if ne $numberOfPages 0 }}
      <li>
        {{ if or (.IsAncestor $currentNode) (.InSection $currentNode) }}
          <details open="true">
        {{ else -}}
          <details>
        {{ end }}
      <summary>
        <a href="{{ .RelPermalink}}" class="gdoc-nav__entry {{ if eq $currentNode . }}is-active{{ end }}">{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</a>
      </summary>
      {{ else }}
      <li class="page">
        <a href="{{ .RelPermalink}}" class="gdoc-nav__entry {{ if eq $currentNode . }}is-active{{ end }}">{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</a>
      {{ end }}
      {{ if ne $numberOfPages 0 }}
        <ul class="gdoc-nav__list">
          {{ .Scratch.Set "pages" .Pages }}
          {{ if .Sections}}
          {{ .Scratch.Set "pages" (.Pages | union .Sections) }}
          {{ end }}
          {{ $pages := (.Scratch.Get "pages") }}
          {{ range $pages.ByTitle }}
            {{ if and .Params.hidden (not $.showhidden) }}
            {{ else }}
            {{ template "tree-nav" dict "sect" . "currentnode" $currentNode }}
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
      </li>
    {{ else }}
      <li class="page">
        <a href="{{ .RelPermalink}}" class="gdoc-nav__entry {{ if eq $currentNode . }}is-active{{ end }}">{{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}</a>
      </li>
    {{ end }}
  {{ end }}
  </ul>
{{ end }}
